<div class="ui text container">
	{{!-- POST INPUT --}}
	<br>
	<div class="ui form">
		<div class="field">
			<h1 class="ui medium header">What's on your mind?</h1>
			{{textarea value=this.message maxlength="500" placeholder="Enter..." rows="4"}}
			<br><br>
			{{#if disabled}}
			  <button class="ui disabled blue button">Post</button>
			{{else}}
			  <button class="ui blue button" {{action "addPost" }}>Post</button>			  
			{{/if}}
		</div>
		<div class="ui divider"></div>
		<div class="field">
		</div>
	</div>
	{{#each model.posts as |post|}}
	  <Post @post={{post}} @model={{model}} @dislikeComp={{action "dislike" }}/>
	{{/each}}

</div>