{{#if (media 'isDesktop')}}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="ui container">
		<div class="ui grid">
			<div class="four wide column"></div>
			<div class="eight wide column">
				<div class="ui middle aligned center aligned grid">
					<div class="column">
						<h2 class="ui blue center aligned header">Log-in to your
							account
						</h2>
						<form class="ui large form">
							<div class="ui stacked segment">
								<div class="field">
									<div class="ui left icon input">
										<i class="user icon"></i>
										{{input value=this.username placeholder="Enter Username..." type="text"}}
									</div>
								</div>
								<div class="field">
									<div class="ui left icon input">
										<i class="lock icon"></i>
										{{input value=this.password placeholder="Enter password" type="password"}}
									</div>
								</div>
								<div class="ui fluid large blue submit button" {{action "authenticate"}}>Login</div><br>
								<button class="ui red inverted button" {{action "authenticateGoogle"}}>
									<i class="google icon"></i> Sign In with Google
								</button>
								<button class="ui facebook button" {{action "authenticateFacebook"}}>
									<i class="facebook icon"></i>
									Sign In with Facebook
								</button>
							</div>
							<div class="ui error message"></div>
						</form>
						<div class="ui message">New to us?
							{{#link-to "sign-up"}}
							Sign Up
							{{/link-to}}
						</div>
					</div>
				</div>
			</div>
			<div class="four wide column"></div>
		</div>
	</div>
{{else}}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="ui container">
		<div class="ui middle aligned center aligned grid">
			<div class="column">
				<h2 class="ui blue center aligned header">Log-in to your
					account
				</h2>
				<form class="ui large form">
					<div class="ui stacked segment">
						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								{{input value=this.username placeholder="Enter Username..." type="text"}}
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								{{input value=this.password placeholder="Enter password" type="password"}}
							</div>
						</div>
						<div class="ui fluid large blue submit button" {{action "authenticate"}}>Login</div><br>
						<button class="ui red inverted button" {{action "authenticateGoogle"}}>
							<i class="google icon"></i> Sign In with Google
						</button>
						<button class="ui facebook button" {{action "authenticateFacebook"}}>
							<i class="facebook icon"></i>
							Sign In with Facebook
						</button>
					</div>
					<div class="ui error message"></div>
				</form>
				<div class="ui message">New to us?
					{{#link-to "sign-up"}}
					Sign Up
					{{/link-to}}
				</div>
			</div>
		</div>
	</div>
{{/if}}