{{#if (media 'isDesktop')}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui blue center aligned header">Register a new account
            </h2>
            <form class="ui large form">
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{input value=this.model.user_name placeholder="Enter username - does not have to be your email" type="text"}}
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    {{input value=this.model.first_name placeholder="Enter First Name" type="text"}}
                  </div>
                  <div class="field">
                    {{input value=this.model.last_name placeholder="Enter Last Name" type="text"}}
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{input value=this.model.password placeholder="Enter Password" type="password"}}
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{input value=this.secondPassword placeholder="Enter Password Again" type="password"}}
                  </div>
                </div>
                <div class="ui fluid large blue submit button" {{action "register"}}>Register your account</div>
              </div>
              <div class="ui error message"></div>
            </form>
            <div class="ui message">Already have an account?
              {{#link-to "login"}}
                Login
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
      <div class="four wide column"></div>
    </div>
  </div>
{{else}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ui container">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui blue center aligned header">Log-in to your
          account
        </h2>
        <form class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                {{input value=this.model.user_name placeholder="Enter username - does not have to be your email" type="text"}}
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                {{input value=this.model.first_name placeholder="Enter First Name" type="text"}}
              </div>
              <div class="field">
                {{input value=this.model.last_name placeholder="Enter Last Name" type="text"}}
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                {{input value=this.model.password placeholder="Enter Password" type="password"}}
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                {{input value=this.secondPassword placeholder="Enter Password Again" type="password"}}
              </div>
            </div>
            <div class="ui fluid large blue submit button" {{action "register"}}>Register your account</div>
          </div>
          <div class="ui error message"></div>
        </form>
        <div class="ui message">Already have an account?
          {{#link-to "login"}}
          Login
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
{{/if}}